<h1>Project Manager Page</h1>
<hr> 

<%@project_managers.map do |project_manager_info|%> 

  <%=project_manager_info.name %><p>
  <%=project_manager_info.nick_name %><p>
  <%=project_manager_info.dob %><p>
  
  <%=project_manager_info.bio %><p>

  <% end %> 

