<h1>Project Manager Page</h1>
<hr> 

<% @project_managers.each do |project_manager| %> 
  <h2><strong><%=project_manager.name %></strong></p> %><h2>
  <li><%=project_manager.nick_name %><<li> 
  <li><%=project_manager.dob %><li>
  <li><%= link_to project_manager.bio, project_manager_path(project_manager) %><li>

<%end %> 