<h1> Iron Boxer Bike Company, LLC <h1> 
 <p><i> Building a Better Ride! <i> 
<hr> 
🚴
<%@user_bikes.map do |user_bike_info|%> 

<%=user_bike_info.street %><p>
<%=user_bike_info.city %><p>
<%=user_bike_info.phone %><p>


<font size = "3"><p>© <%= Date.today.year %> Iron Boxer Bike Company.</p>  <font size = "3">
<%end %>

