<h1>Iron Boxer Bike Company</h1>
<h2><em>Building a Better Ride<em></h2>

<% @user_bikes.map do |user_bike_info|%> 

<%=user_bike_info.street %><p>
<%=user_bike_info.city %><p>
<%=user_bike_info.phone %><p>

<p><img src="https://i.stack.imgur.com/idu5B.jpg" alt="" width="850" height="511" /></p>

<font size = "3"><p>© <%= Date.today.year %> Iron Boxer Bike Company.</p>  <font size = "3">
<% end %>

